.list {
	margin-left: 100px;
}

p {
	font-family: Arial;
	font-size: 18px;
	margin-left:50px;
}

h1 {
	text-align: center;
}

h3 {
	font-size: 20px;
	margin-left:50px;
}

.title {
	padding-bottom: 30px;
}

.nav {
	background-color:#B4FAEB;
	padding: 15px;
}

.nav li{
	display:inline;
	padding: 15px;
}

li {
	font-size: 18px;
}

.jumbotron {
	background-image:url('P4231103.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 800px;
	width: 100%;
	text-color: white;
	
}

#yingwang {
	color: black;
}

.thumbnail {
    float: left;
    width: 32%;
    height: 30%;
    margin: 5px;
}

.center {
	clear: both;
	margin-left: auto;
	margin-right: auto;
}

.content {
	margin-left: auto;
	margin-right: auto;
}
	