body > .content {
	height:auto;
	min-height:100%;
}

html, body, .content {
	height: 100%;
}

.list {
	margin-left: 100px;
}

.box {
	padding:15px;
}

p {
	font-family: Arial;
	font-size: 18px;
	margin-left:50px;
}

h1 {
	text-align: center;
}

h3 {
	font-size: 20px;
}

.title {
	padding-bottom: 30px;
}

.nav {
	background-color:#B4FAEB;
	padding-top: 15px;
	padding-bottom: 15px;
}

.nav li{
	display:inline;
	padding: 10px;
}

li {
	font-size: 18px;
}

.jumbotron {
	background-image:url('https://dl.dropboxusercontent.com/u/18456730/P4231103.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 800px;
	width: 100%;
	text-color: white;
	
}

#yingwang {
	color: black;
}

.thumbnail {
    float: left;
    width: 32%;
    height: 30%;
    margin: 5px;
}

.widethumbnail {
    float: left;
    width: 50%;
    height: 30%;
    margin: 5px;
}

.center {
	clear: both;
	margin-left: auto;
	margin-right: auto;
}

.content {
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 50px;
}

.center_piece {
	width: 900px;
	padding: 100px;
	background-color: #CEFFF6;
	box-shadow: 10px 10px 5px #888888 ;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}
#search {
	margin-left: 800px;
}

.inline_list li {
	display:inline;
	padding:5px;
	background:white;
}

#footer {
	position:relative;
	clear:both;
	background-color:#B4FAEB;
	margin-top:-50px;
	height:50px;
	width: 100%;
}

#footer li{
	display:inline;
	padding-top: 10px;
}

#filler {
	height:30px;
}

#clickme {
	height: 200px;
	padding: 100px;
}

#kitty {
	width:98px;
	margin-left: auto;
	margin-right: auto;
	border:5px solid #B4FAEB;
}