<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/scrollreveal.js/3.3.1/scrollreveal.min.js"></script>
	<script>
		window.sr = ScrollReveal({ duration: 2000 });
		if (sr.isSupported()) {
		document.documentElement.classList.add('sr');
		}

    </script>
	<link href="//fonts.googleapis.com/css?family=Harmattan" rel="stylesheet" type="text/css" media="all">
	<link href="//fonts.googleapis.com/css?family=Old+Standard+TT:400" rel="stylesheet" type="text/css" media="all">
	<link href = "main.css" type = "text/css" rel = "stylesheet">
	<title>Ying Wang</title>
</head>

<body>
	<div id="wrapper">
		<header>
		    <nav id="header-nav" class="navbar navbar-default">
		      <div class="container">
		        <!-- Brand and toggle get grouped for better mobile display -->
		        <div class="navbar-header" >
		        	<a href="index.html" class="navbar-brand"><img src="https://dl.dropboxusercontent.com/u/18456730/kitty.jpg" alt="Kitty Logo" height="100px" width="90px" id="kitty-logo"></a>
			        <div class="navbar-brand">
			            <a href="index.html"><h1 class="text-center">Ying Wang</h1></a>
			        </div>

		            <!-- toggle button -->
		            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="  #navbar-collapse" aria-expanded="false">
		              <span class="sr-only">Toggle navigation</span>
		              <span class="icon-bar"></span>
		              <span class="icon-bar"></span>
		              <span class="icon-bar"></span>
		            </button>

		        </div><!-- /.navbar-header -->

		        <!-- content for toggling -->
		        <div class="collapse navbar-collapse" id="navbar-collapse">
		          <ul id="nav-list" class="nav navbar-nav navbar-right text-center">
		            <li><a href = "index.html">Home</a></li>
					<li><a href = "projects.html">Projects</a></li>
					<li><a href = "resume.html">Resume</a></li>
					<li><a href = "photography.html">Gallery</a></li>
		          </ul>
		        </div><!-- /.navbar-collapse -->

		      </div><!-- /.container -->
		    </nav>
	  	</header>



	 	<main class="container" id="content">
				{{Body}}
		</main>

		<footer>
		  <div class="container-fluid">
		    <div class="text-center">
				Copyright © 2016
			</div>
		  </div>
		</footer>
	</div>

<script>
		// animate gallery photos
	sr.reveal('#intro-tile p, #contact, .thumbnail', 100);
	sr.reveal('#resume .center_piece', {origin: 'right', distance: '80%', viewFactor: 0.1, duration: 3000}, 100);
</script>
</body>

<script type="text/javascript">
	$(document).ready(function () {
		// toggle smiley kitty-logo
		var smile = 'https://dl.dropboxusercontent.com/u/18456730/kitty2.jpg'
		var kitty = "https://dl.dropboxusercontent.com/u/18456730/kitty.jpg"
    	$('header').mouseover(function () {
        	$('.navbar-brand img').attr('src',smile)
    	});
    	$('header').mouseout(function () {
        	$('.navbar-brand img').attr('src',kitty)
    	});
	});

</script>


</html>
